memorysetup-main-allocator-block-size=12582912
memorysetup-thread-allocator-block-size=12582912
memorysetup-gfx-main-allocator-block-size=12582912
memorysetup-gfx-thread-allocator-block-size=12582912
memorysetup-cache-allocator-block-size=4194304
memorysetup-typetree-allocator-block-size=2097152
memorysetup-profiler-allocator-block-size=12582912
memorysetup-bucket-allocator-granularity=16
memorysetup-bucket-allocator-bucket-count=8
memorysetup-bucket-allocator-block-size=25165824
memorysetup-bucket-allocator-block-count=8
memorysetup-profiler-bucket-allocator-block-size=33554432
memorysetup-temp-allocator-size-main=12582912
